.detail-page {
  ul {
    a {
      display: inline-block;
      min-width: 120px;
      color: #a4a4a4;
      font-size: 12px;
      text-decoration: none;

    }

    .rarity {
      min-width: 40px;
    }
  }
}


agm-map {
  position: relative;
  height: 300px;
}
