<div class="homepage">
  <div [formGroup]="simpleSearchForm" class="row">
    <div class="col d-flex justify-content-center">
      <div class="simple-search">
        <div class="row">
          <div class="col-12">
            <h1 class="mat-display-3">{{ homepageLocale.search[l] }}</h1>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-auto">
            <mat-form-field appearance="fill">
              <mat-label>{{categoryLocale[0].category[l]}}</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let c of categories" [value]="c.value">
                  {{c.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 align-self-center col-md-auto">
            <mat-form-field appearance="fill">
              <mat-label>{{ homepageLocale.enterDateRange[l] }}</mat-label>
              <mat-date-range-input [min]="today" [rangePicker]="picker">
                <input formControlName="fromDate" matStartDate placeholder="{{ homepageLocale.fromDate[l] }}">
                <input formControlName="toDate" matEndDate placeholder="{{ homepageLocale.toDate[l] }}">
              </mat-date-range-input>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker touchUi></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-auto py-3">
            <button (click)="onSimpleSearch()" [disabled]="simpleSearchForm.status === 'INVALID'" color="primary"
                    mat-raised-button
                    type="button">{{homepageLocale.searchButton[l]}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bound-item">
    <div *ngIf="isAlertVisible" class="col-12">
      <app-alert [message]="alertMessage"></app-alert>
    </div>
    <div class="col-12">
      <app-search-card (goDetail)="onGoDetail($event)" *ngIf="game" [game]="game" [l]="this.l"></app-search-card>
    </div>
  </div>
</div>
<!--<div class="tutorial-cards">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let t of tutorialCardsSelected" class="col-12 col-md-3 my-3">
      <app-tutorial-card [tutorialCard]="t[0]"></app-tutorial-card>
    </div>
  </div>
</div>-->
