<div class="container">
    <div class="row" [formGroup]="simpleSearchForm">
        <div class="col d-flex justify-content-center">
          <div class="simple-search">
            <h1 class="mat-display-3">{{ locale.search[l] }}</h1>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Identifier">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button mat-raised-button color="primary">Primary</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
