.homepage {
  position: relative;
  margin: auto auto 10em;

  .bound-item {
    position: inherit;
    min-height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.tutorial-cards {
  position: relative;
  margin: 2em auto auto;
}


agm-map {
  position: relative;
  height: 30em;
}
