.homepage {
  position: relative;
  margin: 8em auto auto;

  .bound-item {
    position: inherit;
    min-height: 5em;
    border: 2px solid black;
    margin-top: 2em;
  }
}

.tutorial-cards {
  position: relative;
  margin: 10em auto auto;
}
