<div class="container-fluid text-center">
  <div *ngIf="message.style === 'error'" class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="new-message-box">
        <div class="new-message-box-alert">
          <div class="info-tab tip-icon-alert" title="error"><i></i></div>
          <div class="tip-box-alert">
            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
            <p>{{message.title}}
              <a class="btn btn-sm" href="555">{{' '}}{{message.message}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="message.style === 'warning'" class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="new-message-box">
        <div class="new-message-box-danger">
          <div class="info-tab tip-icon-danger" title="error"><i></i></div>
          <div class="tip-box-danger">
            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
            <p>{{message.title}}
              <a class="btn btn-sm" href="555">{{' '}}{{message.message}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
  <div *ngIf="message.style === 'success'" class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="new-message-box">
        <div class="new-message-box-success">
          <div class="info-tab tip-icon-success" title="success"><i></i></div>
          <div class="tip-box-success">
            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
            <p>{{message.title}}
              <a class="btn btn-sm" href="555">{{' '}}{{message.message}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
