<mat-toolbar color="primary">
  <div fxHide.gt-sm="true" fxShow="true">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a class="companyName" mat-button routerLink="/">
    <span>{{toolbarLocale.appName[localeValue]}}</span>
  </a>
  <span class="example-spacer"></span>
  <div fxHide.lt-md="true" fxShow="true">
    <a mat-button routerLink="/about-us">{{toolbarLocale.homepage[localeValue]}}</a>
    <a mat-button routerLink="/prices">{{toolbarLocale.wts[localeValue]}}</a>
    <a mat-button routerLink="/start-page">{{toolbarLocale.wtb[localeValue]}}</a>
    <a mat-button routerLink="/offer">{{toolbarLocale.about[localeValue]}}</a>
    <a mat-button routerLink="/contact">{{toolbarLocale.contact[localeValue]}}</a>
  </div>

</mat-toolbar>
<mat-sidenav-container class="example-container" fxFlexFill>

  <mat-sidenav #sidenav color="primary" fxHide.gt-sm="true" fxLayout="column" mode="over" opened="false">
    <div fxLayout="column">
      <a mat-button routerLink="/about-us">{{toolbarLocale.homepage[localeValue]}}</a>
      <a mat-button routerLink="/prices">{{toolbarLocale.wts[localeValue]}}</a>
      <a mat-button routerLink="/start-page">{{toolbarLocale.wtb[localeValue]}}</a>
      <a mat-button routerLink="/offer">{{toolbarLocale.about[localeValue]}}</a>
      <a mat-button routerLink="/contact">{{toolbarLocale.contact[localeValue]}}</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="loading-spinner">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
