<mat-card *ngIf="game" class="search-card shadow">
  <div class="row pt-2">
    <div *ngIf="game?.gameCategory" class="col-auto pt-2 px-md-4">
      <fa-icon [icon]="game?.gameCategory === ('tennisOne' || 'tennisTwo') ? faTableTennis : faFutbol"></fa-icon>
    </div>
    <div class="col-auto py-3 px-md-4">
      <div class="row">
        <div class="col text-muted card-field-description"><p>{{searchCardLocale.category[l]}}</p></div>
      </div>
      <p>{{game.gameCategory === 'tennisOne' ? searchCardLocale.tennisOne[l] :
        game.gameCategory === 'tennisTwo' ? searchCardLocale.tennisTwo[l] :
          game.gameCategory === 'soccerFive' ? searchCardLocale.soccerFive[l] :
            game.gameCategory === 'soccerEight' ? searchCardLocale.soccerEight[l] :
              game.gameCategory === 'soccerEleven' ? searchCardLocale.soccerEleven[l] : '' | titlecase }}</p>
    </div>
    <div class="col-auto py-3 px-md-4">
      <div class="row">
        <div class="col text-muted card-field-description"><p>{{searchCardLocale.minRank[l]}}</p></div>
      </div>
      <a>{{game.minRank}}</a>
    </div>
    <div class="col-auto py-3 px-md-4">
      <div class="row">
        <div class="col text-muted card-field-description"><p>{{searchCardLocale.day[l]}}</p></div>
      </div>
      <a>{{game?.day}}</a>
    </div>
    <div class="col-auto py-3 px-md-4">
      <div class="row">
        <div class="col text-muted card-field-description"><p>{{searchCardLocale.gameTime[l]}}</p></div>
      </div>
      <p class="font-weight-bolder">{{game?.gameTime}}</p>
    </div>
    <div class="col-auto py-3 px-md-4">
      <div class="row">
        <div class="col text-muted card-field-description"><p>{{searchCardLocale.createdBy[l]}}</p></div>
      </div>
      <a>{{game?.organizerInfo?.username | titlecase}}</a>
    </div>
    <div class="col d-flex justify-content-end pt-4">
      <div class="row">
        <div class="col-12">
          <button (click)="onGoDetail()" color="accent" mat-flat-button>{{searchCardLocale.join[l]}}</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
