.search-card {
  p {
    cursor: default;
  }

  a {
    cursor: default;
  }

  .card-field-description {
    font-size: 12px;

    p {
      cursor: default;
      color: lightgrey;
      margin: 0;
    }
  }

  .item-grey {
    color: grey;
    font-weight: bolder;

  }

  .item-white {
    color: black;
    font-weight: bolder;
    cursor: default;
  }

  .item-green {
    color: mediumspringgreen;
    font-weight: bolder;
    cursor: default;
  }

  .item-blue {
    color: midnightblue;
    font-weight: bolder;
    cursor: default;
  }

  .item-purple {
    color: purple;
    font-weight: bolder;
    cursor: default;
  }

  .item-orange {
    color: orangered;
    font-weight: bolder;
    cursor: default;
  }
}
