.card-field-description {
  font-size: 12px;

  p {
    color: lightgrey;
    margin: 0;
  }
}

.item-grey {
  color: grey;
  font-weight: bolder;
}

.item-white {
  color: black;
  font-weight: bolder;
}

.item-green {
  color: mediumspringgreen;
  font-weight: bolder;
}

.item-blue {
  color: midnightblue;
  font-weight: bolder;
}

.item-purple {
  color: purple;
  font-weight: bolder;
}

.item-orange {
  color: orangered;
  font-weight: bolder;
}
