.search-card {
  p {
    cursor: default;
  }

  a {
    cursor: default;
  }

  .not-verified {
    p {
      cursor: default;
      color: lightgrey;
      margin: 0;
    }

    fa-icon.ng-fa-icon {
      cursor: default;
      color: lightgrey;
      margin: 0;
    }
  }

  .verified {
    p {
      cursor: default;
      color: #458eff;
      margin: 0;
    }

    fa-icon.ng-fa-icon {
      cursor: default;
      color: #458eff;
      margin: 0;
    }
  }

  .card-field-description {
    font-size: 12px;

    p {
      cursor: default;
      color: lightgrey;
      margin: 0;
    }
  }
}
